{% load static %}
<html>
  <head>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
			<link rel="stylesheet" type="text/css" href="{%static "css/materialize.css"%}">
			<link rel="stylesheet" type="text/css" href="{%static "css/style.css"%}">
  </head>
  <body>
    <header>{% include "app/header.html"%}</header>
    <main class="container center" id="about"> 
			<div class="container about">
				<p>Metanalyze is an application for comparing metaheuristics used for solving multi-objective problems.
				In addition, it allows to display the results graphically and in table format.
				In order to compare the performance between the different metaheuristics, the hypervolume metric will be used.
				In order to validate the data obtained by the different algorithms, it is possible to perform a statistical test to  compare the metaheuristics used to solve a multi-objective problem. The statistical test consists of a series of tests which are as follows:</p>
				<div id="list3">
					<ul>
						<li><strong>Shapiro wilk:</strong> test to check if the data of the algorithms follows a normal distribution.</li>
						<li><strong>Test of Kruskal-Wallis:</strong> this statistical test is used to verify if a group of data comes from the same population, not assuming a normal distribution.</li>
						<li><strong>Test of Levene:</strong> this test is used to verify the homogeneity between the variances of the groups.</li>
						<li><strong>ANOVA test:</strong> probably the most widely used test in the field of statistics. This test is used to verify 	if there are significant differences between the variances of the data group or to verify if the independent variable has a 	significant effect on the dependent variable.</li>
						<li><strong>Test of welch:</strong> this statistical test is used when Shapiro Wilk is satisfied but Levene is not 	satisfied. It is used to correct the degrees of freedom of the variable to allow homogeneity between the variances.</li>
					</ul>


					Once the different statistical tests are performed, the means and medians of the results of the algorithms are compared to perform the comparison.

					The results of the experiment with Metanalyze, can be downloaded in a tar file which is composed of .txt, .tex and .pdf files.

					The application has been developed with the Python programming language and the Django web framework. For the representation of graphic data, the django-jchart library is used.
		
				  Metanalyze was developed by Pedro Ramos for his final degree project in computer science in the ULL.
				</div>
			</div>
		</main>
		<footer class="page-footer grey darken-3">
				{% include "app/footer.html" %}
		</footer>
		<!--Import jQuery before materialize.js-->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script type="text/javascript" src="{% static "js/jquery_3_1_1.min.js" %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static "js/materialize_1_0_0.min.js" %}"></script>
    <!--Javascript files-->
    <script type="text/javascript" src="{% static "js/start.js" %}"></script>
  </body>
</html>
