<div class="row" >
  <div class="col s12">
    <form  action="results/" enctype="multipart/form-data" method="POST" id="formulario">
      {% csrf_token %}
      <div class="row" >

        <div class="input-field center col s10">
          <p class="center">
            <strong>ALGORITHMS</strong>
          </p>
          {{form.n_algorithms}}
          <span id="spanErrorAlgorithms">Error,the number of algorithms must be numeric value and be between 1-10</span>
          <button class="btn waves-effect waves-light" type="button" name="action" id="insertAlgorithm" value="insertAlgorithm" >Add Algorithms
            <i class="material-icons right ">send</i>
          </button>
          <div id="addAlgorithms">
            <div class="row" id="algorithmConfiguration">
              <div class="input-field center col s10" >
                {{form.id_algorithm}}
                <div class="file-field input-field" id = "testFile">
                  <div class="btn">
                    <span>File</span>
                    {{form.file}}
                  </div>
                  <div class="file-path-wrapper ">
                  {{form.file_name}}
                  </div>
                </div>
              </div>
              {{form.n_variables_algorithm}}
              <button class="btn waves-effect waves-light" type="button" name="action" id="introduceAlgorithm" value="introduceAlgorithm">
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>  
      <div class="row" >
        
        <div class="input-field center col s10" id="selectMetric">
          <p class="center">
            <strong>METRIC SELECTION</strong>
          </p>
          <select multiple id="metric" >
            <option value="" disabled selected >Select a metric</option>
            {% for metric in form.metrics %}
              <option value="{{ metric.choice_label }}">{{ metric.choice_label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field center col s10" id="selectBound">
          <p class="center">
            <strong>BOUND SELECTION</strong>
          </p>
          <select multiple id="bound">
            <option value="" disabled selected>Select the bound to be performed</option>
            {% for bound in form.bounds %}
              <option value="{{ bound.choice_label }}">{{ bound.choice_label}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row" >
        <div class="input-field center col s10">
          <p>
            <strong>DO THE STATISTICAL TEST</strong>
          </p>
            {% for choice in form.statistic_test %}
            <p>
                <label>
                     <input class="with-gap" name ="statisticTest" type="radio"/>
                    <!-- <input class="with-gap" name="statisticTest" type="radio" id="{{ choice.choice_label }}" value = "{{ choice.choice_label }}"> -->
                    <span> {{ choice }}</span>
                </label>
            </p>
            {% endfor %}
          <!--<select multiple id="test">
            <option value="" disabled selected>Select a statistic test</option>
            {% for i in test %}
              <option {{i}}>{{i}}</option>
            {%endfor%}
          </select>-->

        </div>
      </div>
      <div class="row" >
        <div class="col s10">
          <p class="center">
            <strong>CONFIGURATION OF EXECUTION</strong>
          </p>
          {{form.n_objectives}}
          {{form.n_executions}}
          {{form.step}}
          {{form.stop_condition}}
        </div>
      </div>
      <div class="row" >
        <div class="col s10">
          <div>
            <p><strong>Select a data output format</strong></p>
            {% for choice in form.data_output %}
            <p>
                <label>
                    <input class="with-gap" name ="dataOutput" type="radio"/>
                    <span> {{ choice }}</span>
                </label>
            </p>
            {% endfor %}
          </div>
          <div id="xAxisChart">
            <p><strong>Title xAxis chart</strong></p>
            {% for choice in form.evaluation %}
            <p>
                <label>
                     <input class="with-gap" name ="statisticTest" type="radio"/>
                    <span> {{ choice }}</span>
                </label>
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light " type="submit" name="action" id="send">Send
        <i class="material-icons right">send</i>
      </button> 
    </form> 
  </div>
</div>


