<html>
  <head>
  <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  </head>
  <body>
    <header>{% include "app/header.html"%}</header>
    <main class="container center" id="principal">
      <h2 class="center">MOSTRAR NOMBRE Y LOGO AQUI</h1>
      <div class="container configuracion">
        {% include "app/main.html" %}
      </div> 
    </main>
    <footer class="page-footer grey darken-3">
      {% include "app/footer.html" %}
    </footer>
    {% include "app/scripts.html" %}
  </body>
</html>