<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

{{ chart.as_html }}-->
<!DOCTYPE html>
<html>
<head>
	<title>prueba chart</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
</head>
<body>

	<!--
	-->
	{{scatter_chart.as_html}}
	{{ bubble_chart.as_html }}
	<!--{{prueba_scatter.as_html}}-->
	{{time_chart.as_html}}
	{{polar_chart.as_html}}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>

