<div class="row" >
  <div class="col s12">
    <form method="post" id="formulario">
      {% csrf_token %}
      <div class="row" >

        <div class="input-field center col s8">
          <p class="center">
            <strong>ALGORITHMS-CONFIGURATIONS</strong>
          </p>
          <input type="text" name="nAlgorithms" placeholder="Insert the number of algorithms" id="nAlgorithms"
          oninput ="checkAlgorithm()" >

          <span id="spanErrorAlgorithms">Error,the number of algorithms must be numeric value and be between 1-10</span>
          <button class="btn waves-effect waves-light" type="button" name="action" id="insertAlgorithm" value="insertAlgorithm" >Add Algorithms
            <i class="material-icons right ">send</i>
          </button>
          <div id="addAlgorithms">
            <div class="row" id="algorithmConfiguration">
              <div class="input-field center col s10" >
                <input type="text" name="algoritmo" placeholder="Introduce the identificator for this algorithm" id="idAlgorithm" oninput="configureAlgorithm()">

                <!--Aqui probar a poner lo del form en django con el input de tipo upload file con el 
                nombre de la clase todo igual que en materialize e importarlo aqui -->

                <div class="file-field input-field" id = "testFile">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" id="fichero">
                  </div>
                  <div class="file-path-wrapper ">
                    <input class="file-path validate " type="text" placeholder="Select file to run the test">
                  </div>
                </div>  
                <input type="text" name="nVariablesAlgorithm" placeholder="Introduce the number of variables for this algorithm" id = "nVariablesAlgorithm">
                <button class="btn waves-effect waves-light" type="button" name="action" id="introduceAlgorithm" >
                  <i class="material-icons right">send</i>
                </button>
              </div> 
            </div>   
          </div>
        </div>
      </div>
      
<!--
      <div class="row algorithmConfiguration" >
        <div class="input-field center col s10">
          <input type="text" name="algoritmo" placeholder="Introduzca el nombre del algoritmo a insertar" id="algoritmo" oninput="insertaAlgoritmo()">
          <div class="file-field input-field" id = "ficheroPruebas">
            <div class="btn">
              <span>File</span>
              <input type="file" id="fichero">
            </div>
            <div class="file-path-wrapper ">
              <input class="file-path validate " type="text" placeholder="Selecciona el fichero para ejecutar las pruebas">
            </div>
            <button class="btn waves-effect waves-light" type="button" name="action" id="introduceAlgoritmo" >
              <i class="material-icons right">send</i>
            </button>

        </div>
-->         
      
      <div class="row" >
        <div class="input-field center col s10">
          <select multiple id="test">
            <option value="" disabled selected>Select a statistic test</option>
            {% for i in test %}
              <option {{i}}>{{i}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <!--
      <div class="row" >
        <div class="input-field center col s8">
          <input type="text" name="nInstancia" placeholder="Inserts the number of instances" id="nInstancia"
          oninput ="compruebaInstancia()" >

          <span id="spanErrorInstancia">Error,the number of instances must be numeric value and be between 1-99</span>
          <button class="btn waves-effect waves-light" type="button" name="action" id="introduceInstancia" value="introduceInstancia" >Add instances
            <i class="material-icons right ">send</i>
          </button>
          <div id="addInstancias"></div>
        </div>
      </div>-->
      <div class="row" >
        <div class="col s10">
          <div>
            <p>Select a data output format</p>
            <p>
              <input class="with-gap dataOutput" name="group1" type="radio" id="table" value="table"/>
              <label for="table">Table</label>
            </p>
            <p>
              <input class="with-gap dataOutput" name="group1" type="radio" id="plot" value="plot"/>
              <label for="plot">Plot</label>
            </p>
            <p>
              <input class="with-gap dataOutput" name="group1" type="radio" id="table-plot" value="table-plot"/>
              <label for="table-plot">Table and plot</label>
            </p>
          </div>
        </div>
      </div>   
      <div class="row" >
        <div class="col s10">
          <p class="center">
            <strong>EXECUTION</strong>
          </p>
          <input type="text" id="nObjetives" name="nObjetives" placeholder="Insert the number of objetives">
          <input type="text" id="nExecutions" name="nExecutions" placeholder="Insert the number of executions done">
          <input type="text" id="step" name="step" placeholder="Insert the number of steps">
          <input type="text" id="stopCondition" name="stopCondition" placeholder="Insert the stop condition">
        </div>
      </div>
      <div class="row" >
        <div class="input-field center col s10">
          <select multiple id="metric">
            <option value="" disabled selected>Select a metric</option>
            {% for i in metric %}
              <option {{i}}>{{i}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <button class="btn waves-effect waves-light " type="submit" name="action" id="send">Send
        <i class="material-icons right">send</i>
      </button> 
    </form> 
  </div>
</div>


