<div class="row" >
  <div class="input-field center col s10">
    <select id="test">
      <option value="" disabled selected>Seleccione test estadístico a usar</option>
      {% for i in test%}
        <option {{i}}>{{i}}</option>
      {%endfor%}
    </select>
  </div>
</div>    
<div class="row" >
  <div class="input-field center col s10">
    <select multiple id="algoritmos">
      <option value="" disabled selected>Seleccione algoritmo a analizar</option>
      {% for j in algoritmo%}
        <option {{j}}>{{j}}</option>
      {%endfor%}
    </select>
  </div>
</div>
<div class="row"> 
  <div class="col s10">
    <form action="#">
      <div class="mismoFichero">
        <p>¿Elegir mismo fichero para algoritmo(s) seleccionado(s)?</p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="Si"  />
          <label for="Si">Si</label>
        </p>
        <p>
          <input class="with-gap" name="group1" type="radio" id="No"  />
          <label for="No">No</label>
        </p>
      </div>  
      <div class="file-field input-field" id = "seleccionfichero">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Selecciona el fichero para ejecutar las pruebas">
        </div>
      </div>
      <input type="text" id="nejecuciones" name="nejecuciones" placeholder="Introduzca número de ejecuciones a realizar">
    </form>
   </div> 
</div>  



