
<!--MIRAR CUANDO ESTO ESTE MEDIO TERMINADO LO DE LA CARPETA STATIC Y PONER LOS ARCHIVOS COMO .JS Y EN LOS 
HTML DE INDEX, SOLO AÑADIR {% STATIC NOMBRE DEL SCRIPT...}

-->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- script para la barra de navegación en pantallas pequeñas-->
<script>
  $(".button-collapse").sideNav();
</script>
<!--Script de materialize para la carga del multiselect-->
<script type="text/javascript">
   $(document).ready(() =>{
    $('select').material_select();
   });
</script>
<!--Script que oculta algunos elementos de la web cuando se carga...-->
<script type="text/javascript">
 $(document).ready(() =>{
    $("#introduceAlgoritmo").hide()
    //$("#ficheroPruebas").css("display", "none");
    $("#ficheroPruebas").hide();
    $("#spanPrueba").css("display", "none");
    $("#introduceInstancia").hide();
  })
</script>
<!--Script para la introduccion de los nombres de algoritmos que el usuario quiera darle
Además, una vez se inserta, y se le da al boton aparecerá el input para asignar fichero y 
un botón para enviarlo a la base de datos o json pertinente...-->
<script type="text/javascript"> 

  addalgoritmo = () =>{
    let valor = document.getElementById("algoritmo").value;
    //variable para que cuente la longitud del input introducido
    let contador= document.getElementById("algoritmo").value.length;
    console.log(contador)
    if(contador !== 0){
      $("#introduceAlgoritmo").show()
      $("#ficheroPruebas").show();
      document.getElementById("introduceAlgoritmo").innerHTML = "Introducir algoritmo: " + valor;
    }else{
      $("#introduceAlgoritmo").hide();
      $("#ficheroPruebas").hide();
    }
    return valor
  }
</script>
<script type="text/javascript">
  //const algoritmos=[]
  $("#introduceAlgoritmo").click(() =>{
    $('#introduceAlgoritmo').prop("disabled")
    //$("#ficheroPruebas").css("display", "inherit");
    let algoritmoIntroducido = addalgoritmo()
    //$("#algoritmo").val('')
    //$("#introducealgoritmo").css("display", "none");
    //algoritmos.push(algoritmoIntroducido)
    console.log(algoritmoIntroducido)
    //console.log('introducido el algoritmo...')
    alert('algoritmo introducido');
    $("#introduceAlgoritmo").hide();
    $("#ficheroPruebas").hide();
    //faltaria poner lo de subir el algoritmo asociado a un fichero...
    return(algoritmoIntroducido);
 }); 
</script>

<!--Script para comprobar que el numero de instancias es de 1-99 y muestra un mensaje tipo span 
mostrando un error...-->
<script type="text/javascript">
  compruebaInstancia = () => {

    let instancia = document.getElementById("nInstancia").value;
    console.log(instancia)
    if(instancia.match(/^[1-9][0-9]{0,1}$/)){
      $("#spanPrueba").css("display", "none");
      $("#nInstancia").css("color","inherit")
      console.log('acepto...')
      $("#introduceInstancia").show();
    }else{
      console.log('no acepto')
      $("#nInstancia").css("color","#FF0000")
      $("#spanPrueba").css("display", "inherit");
      $("#introduceInstancia").hide();
    }
  }
</script>
<!--Script para introducir el numero de instancias que tiene el problema
 creará un input y un boton por cada n instancia introducida...
 además, también quita la demostración del input de introducir un numero
 de instancias al darle click..

-->
<script type="text/javascript">
  $("#introduceInstancia").click(() => {
    console.log("di click...")
    let nInstancia = document.getElementById("nInstancia").value;
    console.log(nInstancia)
    $("#nInstancia").css("display","none");
    $("#introduceInstancia").css("display","none");
    let i=1;
    while(i <= nInstancia){
      let inputInstancias = `<input type="text" name="nInstancia${i}" placeholder="Añadir instancia ${i}                      "id="instancia${i}"> 
                             <button class="btn-floating waves-effect waves-light grey darken-3" type="submit" name="action" id="btninstancia${i}" onclick="introduceInstancias(${i})">
                               <i class="material-icons right">add</i>
                             </button> `
      $("#addInstancias").append(inputInstancias);
      i+=1;
    }
    i=1;
  })
</script>
<!--Script para enviar los datos a base de datos o json o array con el nombre de las instancias-->
<script type="text/javascript">
   function introduceInstancias(i){
    $(`#btninstancia${i}`).each(() => {
      let input = document.getElementById(`instancia${i}`).value;
      console.log(input)
      console.log('le diii y soy el boton '+ i)
      //cambiar a remove para ver si no borra datos..
      $(`#btninstancia${i}`).css("display","none");
      $(`#instancia${i}`).css("display","none");
    })
   }

</script>