body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 div.statisticTable td{
  	font-size: 30px;
  }

.about{
  width: 650px;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #555;
  color: #fff;
  border-radius: 10px;
}
.brand-logo img{
	height: 55px;
	position: absolute;
}

/*.example-8 .navbar-brand {
  background: url(https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png) center / contain no-repeat;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}*/